@font-face {
    font-family: compactrounded;
    src: url(Compact-Rounded-Regular.ttf);
}


html {
    color: rgb(40,47,68);
}

body {
    margin: 0;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero h1{
    font-size: 4rem;
    font-family: compactrounded;
}